{%extends "layout.html"%}
{%block content%}
<div class="project">
  <p><strong>Project: Android GUI Automation</strong><br><br>
    GUI Tool to automate WebBrowsing, Ping, Youtube on Android devices<br>
    These generate different traffic patterns with frequency and duration of traffic defined by user<br>
    This uses Python and multithreading concepts.<br>
    This is an independent project done by Aashish to help RF field testers.<br>
  </p>
  <p>Source Code <a href ="https://github.com/aashishpoudel/adbRunApps">here</a></p>
</div>
<p> GIF </p>
<img src="adbgui.gif">
<p> JPG </p>
<img src="adbgui.jpg">
{%endblock%}
