{%extends "layout.html"%}
{%block content%}
<div class="home">
  <p>List of Projects</p>
  <!–– with url_for function, page1 function from script1.py ll be triggered ––>
  <li><a href = "{{url_for('QAM_Receiver')}}">QAM_Receiver</a></li>
  <li><a href = "{{url_for('gui_automation_tool')}}">Android GUI Automation</a></li>
  <li><a href = "{{url_for('pcb_project')}}">Embedded PCB Project</a></li>
  <li><a href = "{{url_for('mirror_project')}}">3D Mirror</a></li>
  <li><a href = "{{url_for('mis_project')}}">MIS Project</a></li>
  <li><a href = "{{url_for('financeplot')}}">Finance Plot</a></li>
</div>
{%endblock%}
