{%extends "layout.html"%}
{%block content%}
<div class="project">
  <p><strong>Project Description</strong><br><br>
    The project automates and analyzes the raw phone record details into different database tables, and<br>
    enables user, through C#.NET GUI, to inquire and generate different reports.<br>
    The report is presented in Grid form or Excel.<br>
    The project uses mySQL database as backend and C#.NET as frontend application.
    This is an undergrad Project done at Nepal Telecom by Aashish, Anjan, Anup, Bikash and Jeewan<br>
  </p>
  <p>Source Code <a href ="https://github.com/aashishpoudel/BE_MIS_Project/tree/master/MIS_AP_aug24">here</a></p>
</div>
<object width="640" height="480" data="https://www.youtube.com/v/Xhd9-3Oo5Y8" align="center"></object>
{%endblock%}
