{%extends "layout.html"%}
{%block content%}
<div class="project">
  <p>Project Description<br>The project automates and analyzes the raw phone record details into different database tables and enables user, through C#.NET GUI, to inquire and generate different reports.<br>The report is presented in Grid form or Excel.<br>This is a part of B.E. Internship Project in Nepal Telecom Intelligent Network Section accomplished by Aashish, Anjan, Anup, Bikash, Jeewan<br></p>
</div>
<object width="640" height="480" data="https://www.youtube.com/v/Xhd9-3Oo5Y8" align="right"></object>
<p>Source Code <a href ="https://github.com/aashishpoudel/BE_MIS_Project/tree/master/MIS_AP_aug24">here</a></p>
{%endblock%}
