{%extends "layout.html"%}
{%block content%}
<div class="project">
  <p><strong>Project: PCB Milling Machine</strong><br><br>
    The Project is comprised of Software, Embedded and Mechanical parts.<br>
    A PCB layout designed by some CAD PCB design software is converted into double line by Software.<br>
    The coordinates are fed to a microcontroller (AT89S51) which drives mechanical stepper motor via serial communication and using vector drawing technique.<br>
    The objective is to etch requested PCB Layout in double line format on a copper PCB plate.<br>
    This is an undergrad Embedded Project done by Aashish, Anjan, Anup, Bikash and Jeewan.<br></p>
</div>
<object width="640" height="480"
data="https://www.youtube.com/v/xIgcHOfSzyY">
</object>
<p>Source Code <a href ="https://github.com/aashishpoudel/BE_3DMirror">here</a></p>
{%endblock%}
