{%extends "layout.html"%}
{%block content%}
<link rel="stylesheet" href={{cdn_css | safe}} type="text/css" />
<script type="text/javascript" src={{cdn_js | safe}}></script>

<div class="project">
  <p><strong>Project: QAM Transceiver Simulation</strong><br><br>
    The project simulates the transmitted QPSK signal and receives the same through Correlator and Integrator.<br>
    The signal constellation diagram shows the phases of the received signals.<br>
    BER decreases as SNR increases as shown in the plot below.<br>
    This is a part of Communication Project done in Masters by Aashish.<br></p>
</div>
{{script1 | safe}}
{{div1 | safe}}
{{script2 | safe}}
{{div2 | safe}}
<p>Source Code <a href ="https://github.com/aashishpoudel/App4_WebsiteBuilder/blob/master/qam_M4_receiver.py">here</a></p>
{%endblock%}
